<header class="idea_header clearfix">
<div class="idea_meta clearfix hidden">
        <div class="date">{{ idea.last_updated|date:"M d, Y" }}</div>
    </div>
    <div class="stage_icon_wrapper">    
        <span class="stage_icon icon_{{ idea.stage|lower }}"></span>
    </div>
        <div class="stage">{{ idea.stage }}</div>
    <h1 class ="idea_title pad">
        {{ idea.title }}
    </h1>
    <div class="idea_project_list">
        Project:
        {% if idea.project %}
            {% for project in idea.project.all %}
                <a>{{ project }}</a>
            {% endfor %}
        {% else %} none
        {% endif %}
    </div>
</header>
