<nav class="creations_nav clearfix">
    <ul class="nav">

        <li>
            <a class="nav_link clearfix" href="/creations/">
                <span class="glyph icon_incubation"></span>
                <span class="link_text">home</span>
            </a>
        </li>

        <li>
            <a class="nav_link clearfix" href="/creations/">
                <span class="glyph icon_incubation"></span>
                <span class="link_text">the creative method</span>
            </a>
        </li>

        <li>
            <a class="nav_link clearfix" href="/creations/">
                <span class="glyph icon_incubation"></span>
                <span class="link_text">contact & social media</span>
            </a>
        </li>

        <li class="">
            <a class="nav_link clearfix" href="/creations/incubation">
                <span class="glyph icon_incubation"></span>
                <span class="link_text">all ideas & creations</span>
            </a>
            <ul class="stage_list">
                <li>
                    <a class="nav_link clearfix" href="/creations/incubation">
                        <span class="glyph icon_incubation"></span>
                        <span class="link_text">incubation</span>
                    </a>
                </li>
                <li>
                    <a class="nav_link clearfix" href="/creations/experimentation">
                        <span class="glyph icon_experimentation"></span>
                        <span class="link_text">analyzation</span>
                    </a>
                </li>
                <li>
                    <a class="nav_link clearfix" href="/creations/experimentation">
                        <span class="glyph icon_experimentation"></span>
                        <span class="link_text">experimentation</span>
                    </a>
                </li>
                <li>
                    <a class="nav_link clearfix" href="/creations/implementation">
                        <span class="glyph icon_implementation"></span>
                        <span class="link_text">implementation</span>
                    </a>
                </li>
                <li>
                    <a class="nav_link clearfix" href="/creations/implementation">
                        <span class="glyph icon_implementation"></span>
                        <span class="link_text">Documentation</span>
                    </a>
                </li>

                
            </ul>
        </li>
    </ul>
</nav>
