<h1 class="stage_nav_heading">
    Ideas and Creations
</h1>
<nav class="stage_nav clearfix">
    <a class="stage_link" href="/creations/incubation">
        <span class="glyph icon_incubation"></span>
        <span class="link_text">everything</span>
    </a>
    <a class="stage_link" href="/creations/incubation">
        <span class="glyph icon_incubation"></span>
        <span class="link_text">incubation</span>
    </a>
    <a class="stage_link" href="/creations/experimentation">
        <span class="glyph icon_experimentation"></span>
        <span class="link_text">analyzation</span>
    </a>
    <a class="stage_link" href="/creations/experimentation">
        <span class="glyph icon_experimentation"></span>
        <span class="link_text">experimentation</span>
    </a>
    <a class="stage_link" href="/creations/implementation">
        <span class="glyph icon_implementation"></span>
        <span class="link_text">implementation</span>
    </a>
    <a class="stage_link" href="/creations/implementation">
        <span class="glyph icon_implementation"></span>
        <span class="link_text">Documentation</span>
    </a>
</nav>
