{% extends "base.html" %}

{% block main %}
<div>
    <h1>So you wannt to get in touch?</h1>
    <p>Here are ways to get a hold of me digitally</p>
    <div class="center_wrap">
        <div class="inline_box contact_item wrap150 ">
            <div class="contact_icon icon-facebook facebook"></div>
            <span class="box_bottom contact_item_text">Facebook</span>
        </div>
        <div class="inline_box contact_item wrap150 ">
            <div class="contact_icon icon-email email"></div>
            <span class="box_bottom contact_item_text">Email</span>
        </div>
        <div class="inline_box contact_item wrap150 ">
            <div class="contact_icon icon-twitter twitter"></div>
            <span class="box_bottom contact_item_text">Twitter</span>
        </div>
        <div class="inline_box contact_item wrap150 ">
            <div class="contact_icon icon-github github"></div>
            <span class="box_bottom contact_item_text">Github</span>
        </div>
    </div>
    <div class="block">
    <h2>You might also find me at one of the many meetups around Los Angeles</h2>
    <p>Let me know if you wanna come say "Hi!".</p>
</div>

</div>
{% endblock %}
