{% extends 'base.html' %}


{% block main %}
<div class="creative_method">
<section class="block clearfix creative_intro">
    <div class="wrap720 inner">
        <h1>The Creative Method</h1>
        <p>Inspired mostly by the Scientific Method, the Creative Method is a
        set of techniques that I (sort of) developed and use to... well, create stuff. It can 
        be applied to just about any discipline, from programming to painting. 
        consists of 5 stages: Incubation, Analyzation, Experimentation,
        Implementation, and Documentation. Like the Scientific Method, these aren't
        a strict series of rules and steps, but rather a set of principles that can
        be loosely applied, and at any point, one may go backwards, or jump ahead.
        </p>
    </div>
</section>
<section class="block clearfix incubation">
    <div class="inner wrap720">
        <div class="big_icon icon-inbox inner"></div>
        <div class="stage_stuff inner">
            <h1>Incubation</h1>
            <p>The first step is the inncubation of ideas and knowledge. Gather as much
            information as possible and use that knowledge to generate questions or
            ideas, even if they are "dumb". Draw inspiration from all possible 
            sources, such as the internet, nature, or other humans. Never be
            afraid of being wrong or "dumb", and always approach things with and open
            mind.</p>
        </div>
    </div>
</section>
<section class="block clearfix analyzation">
    <div class="inner wrap720">
        <div class="big_icon icon-lightbulb inner"></div>
        <div class="stage_stuff inner">
            <h1>Analyzation</h1>
            <p>After incubation, there will be a set of ideas. Expand further on some 
            of those ideas, and analyze them. Even try combinging them. Mix and match.
            Study them in-depth, and grow the idea into something bigger. Layout a plan
            to experiment with it.
            </p>
        </div>
    </div>
</section>
<section class="block clearfix experimentation">
    <div class="inner wrap720">
        <div class="big_icon icon-flaskfull inner"></div>
        <div class="stage_stuff inner">
            <h1>Experimentation</h1>
            <p>Execute the planned experiment. Try, fail, repeat. Go back, rethink, and
            learn. Reiterate through the previous stages, continuously adjusting.
            Experiment over and over again. Continue to experiment and gain confidence 
            as you go along, and when you do get confident...
            </p>
        </div>
    </div>
</section>
<section class="block clearfix implementation">
    <div class="inner wrap720">
        <div class="big_icon icon-rocket inner"></div>
        <div class="stage_stuff inner">
            <h1>Implementation</h1>
            <p>Implement it. Apply what you have learned in the "real world", or a 
            "real project". As we don't live in a perfect world, it will never be
            perfect, but dispite that, continue to improve by going back and applying
            the previous step. Never stop improving.
            </p>
        </div>
    </div>
</section>
<section class="block clearfix documentation">
    <div class="inner wrap720">
        <div class="big_icon icon-document inner"></div>
        <div class="stage_stuff">
            <h1>Documentation</h1>
            <p>Document your experiences, reflect on them, and share what you've 
            learned. Hoarding what you know does not give you power, sharing it does. 
            Teach others what you know the same way others taught you. A wise person
            that refuses to teach is not a wise person. 
            </p>
        </div>
    </div>
</section>
<section class="block clearfix continuous">
    <div class="wrap720  stage_stuff">
        <h1>Continuous Creation</h1>
        <p>
            Repeat. The Creative Method never stops.
        </p>
    </div>
</section>

</div>

{% endblock %}
