{% extends 'base.html' %}


{% block main %}
<div>
    <p>hello, something about me </p>
</div>

<section class="">
    <h1>The Creative Method</h1>
    <p></p>
</section>
<section class="">
    <h1>Incubation</h1>
    <p></p>
</section>
<section class="">
    <h1>Analyzation</h1>
    <p></p>
</section>
<section class="">
    <h1>Experimentation</h1>
    <p></p>
</section>
<section class="">
    <h1>Implementation</h1>
    <p></p>
</section>
<section class="">
    <h1>Documentation</h1>
    <p></p>
</section>

{% endblock %}
