{% extends 'base.html' %}
{% load static %}

{% block title %}
blah blah blah
{% endblock %}

{% block left_bar %}
    {% include "_left_bar.html" %}
{% endblock %}

{% block main %}
    <div class="ideas clearfix">
        {{ kwarg }}
        {% for idea in idea_list %}
            <div class="idea_wrapper">
                {% if idea.featured_image %}
                    <article class="idea img_post clearfix">
                        <h1 class="idea_title">{{ idea }}</h1>
                        <img 
                            class="featured_image" 
                            src="https://www.lorempixel.com/900/600/"
                        </img>
                    </article>
                {% else %}
                    <article class="idea clearfix no_img">
                        <h1 class="idea_title">{{ idea }}</h1>
                    </article>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="detailed_content"></div>
{% endblock %}
