{% extends "base.html" %}

{% block masthead %}
    <h1>Hi There! I'm Mac</h1>
    <h1>Welcome to My Internet Home</h1>
{% endblock %}

{% block main %}
<section id="intro" class="clearfix">
    <div class="card">
        <header class="card-header">
            <h2>so who am i?</h2>
        </header>
        <span>some text about my self</span>
        <span>Hey, I'm Michael Ackerman</span>
    </div>
</section>
<span>You can call me Mac</span>
<span>I solve problems, creativly, beautifily, and efficiently</span>
{% endblock %}
