{% extends 'base.html' %}
{% load static %}

{% block title %}
blah blah blah
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block main %}
<div class="content_wrap">
    <div class="content_header {{ stage }} clearfix ">
        <div class="content_heading ">
            <span class="icon_{{ stage|lower }}"></span>
            <span>{{ stage|capfirst }}</span>
        </div>
        <div class='action_buttons_wrap '>
            <div class="action_button">
                <span>Refresh</span>
            </div>
            <div class="action_button">
                <span>Sort by: Newest</span>
            </div>
            <div class="action_button">
                <span>View as: Cards</span>
            </div>
        </div>
    </div>
    <div class="content clearfix {{ stage }}_lighter">
        {% for idea in idea_list %}
        {% with thestage=idea.get_stage_display %}
        <div class="idea_wrap">
            <article class="idea img_post">
                <a class="idea_link" href="{% url 'idea_detail' stage=thestage|lower pk=idea.pk %}">
                    <div class="content_header {{ thestage }}">
                        <span class="icon_{{ thestage|lower }}"></span>
                        <span class="idea_stage" >
                            {{ thestage|capfirst }}
                        </span>
                    </div>
                    <div class='idea_content'>
                        <img 
                            class="featured_image" 
                            src="https://www.lorempixel.com/900/600/">
                        </img>
                        <h1 class="idea_title">
                            {{ idea }}
                        </h1>
                        <div class="date">
                            {{ idea.last_updated|date:"M d, Y" }}
                        </div>
                    </div>
                </a>
            </article>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>

{% endblock %}
