{% extends 'base.html' %}
{% load static %}

{% block title %}
blah blah blah
{% endblock %}

{% block primary_nav %}
    {% include "primary_nav.html" with active="idea_list" %}
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block main %}
<div class="content_wrap">
    <div class="content clearfix {{ stage }}_dark">
        {% for idea in idea_list %}
        {% with thestage=idea.get_stage_display %}
        <div class="idea_wrap">
            <article class="idea img_post">
                <a class="idea_link" href="{% url 'idea_detail' stage=thestage|lower pk=idea.pk %}">
                    <div class='idea_content'>
                        <img 
                            class="featured_image" 
                            src="https://www.lorempixel.com/900/600/">
                        </img>
                        <h1 class="idea_title">
                            {{ idea }}
                        </h1>
                        <div class="date">
                            {{ idea.last_updated|date:"M d, Y" }}
                        </div>
                    </div>
                </a>
            </article>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>

{% endblock %}
