{% extends 'base.html' %}
{% load static %}

{% block title %}
blah blah blah
{% endblock %}

{% block left_bar %}
    {% include "_left_bar.html" %}
{% endblock %}

{% block main %}
            {% include "_idea_list.html" %}
<div class="detail_o_wrap">
     <div class="stage_detail">
         <section class="stage_detail_content">
            <div class="icon_{{ stage_detail.name|lower }} stage_detail_icon"></div>
            <h1 class="stage_detail_header">{{ stage_detail.name }}</h1>
            <p>{{ stage_detail.info }}</p>
        </section>
    </div>
    {% block idea_detail %}
    {% endblock %}
</div>
{% endblock %}
