{% extends 'base.html' %}
{% load static %}

{% block title %}
blah blah blah
{% endblock %}

{% block primary_nav %}
    {% include "primary_nav.html" with active="idea_list" %}
{% endblock %}

{% block action_buttons %}
<span class='action_button icon-search' ></span>
<div class="action_button">
    <span class='icon-refresh'></span>
</div>
<div class="action_button">
    <span>Sort by: Newest</span>
</div>
<div class="action_button">
    <span>View as: Cards</span>
</div>
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block main %}
<div class="content_wrap">
    <div class="content clearfix {{ stage }}_lighter">
        {% for idea in idea_list %}
        {% with thestage=idea.get_stage_display %}
        <div class="idea_wrap">
            <a class="idea img_post" href="{% url 'idea_detail' primary='creations' stage=thestage|lower pk=idea.pk %}">
                <article class="idea_link" >
                    <div class='idea_content'>
                        <img 
                            class="featured_image" 
                            src="https://www.lorempixel.com/900/600/">
                        </img>
                        <h1 class="idea_title">
                            {{ idea }}
                        </h1>
                        <div class="date">
                            {{ idea.last_updated|date:"M d, Y" }}
                        </div>
                    </div>
                </article>
            </a>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>

{% endblock %}
