<div class="menu_wrap">
    <div class="nav_header">
        <h1 class="name">Mac</h1>
    </div>
    <nav class="menu clearfix">
        <ul class="first_tier">
            <li>
                <a class="menu_item  {% if active == 'creative_method'%}active{% endif %}">
                    <span class="link_text ">Home</span>
                </a>
            </li>
            <li>
                <a class="menu_item  {% if active == 'creative_method'%}active{% endif %}">
                    <span class="link_text ">Creative Method</span>
                </a>
            </li>
            <li>
                <a class="menu_item {% if active == 'ideas' %}active{% endif %}">
                    <span class="link_text ">Ideas & Creations</span>
                </a>
                <ul class="second_tier">
                    <li>
                        <a class="menu_item" href="/creations/incubation">
                            <span class="glyph icon_incubation"></span>
                            <span class="link_text">everything</span>
                        </a>
                    </li>
                    <li>
                        <a class="menu_item" href="/creations/incubation">
                            <span class="glyph icon_incubation"></span>
                            <span class="link_text">incubation</span>
                        </a>
                    </li>
                    <li>
                        <a class="menu_item" href="/creations/experimentation">
                            <span class="glyph icon_experimentation"></span>
                            <span class="link_text">analyzation</span>
                        </a>
                    </li>
                    <li>
                        <a class="menu_item" href="/creations/experimentation">
                            <span class="glyph icon_experimentation"></span>
                            <span class="link_text">experimentation</span>
                        </a>
                    </li>
                    <li>
                        <a class="menu_item" href="/creations/implementation">
                            <span class="glyph icon_implementation"></span>
                            <span class="link_text">implementation</span>
                        </a>
                    </li>
                    <li>
                        <a class="menu_item" href="/creations/implementation">
                            <span class="glyph icon_implementation"></span>
                            <span class="link_text">Documentation</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="menu_item {% if active == 'contact' %}active{% endif %}">
                    <span class="link_text ">Contact</span>
                </a>
            </li>
    </nav>
</div>
