<div class="menu_wrap">
    <div class='intro clearfix'>
        <img class="profile_pic" src='http://www.lorempixel.com/400/400/people'></img>
        <div class="name">
            <h1 class='nick'>Mac</h1>
            <span class="username">@binarymac</span>
            <span class='name_full'>Michael Ackerman</span>
        </div>
    </div>
    <nav class="clearfix menu_nav">
        <ul class="first_tier">
            <h1 class="menu_heading">Menu</h1>
            {% for item in menu %}
                <li class="menu_item clearfix">
                <a class="menu_link clearfix {% if item.active == True %}active{% endif %}" href="{{ item.url }}">
                        <span class="link_text ">{{ item.name }}</span>
                    </a>
                    {% if item.nested %}
                        <ul class="second_tier">
                            {% for nest in item.nested %}
                                <li class="menu_item clearfix">
                                <a class="menu_link clearfix {% if nest.active == True %}active{% endif %}" href="{{ nest.url }}">
                                        <span class="glyph icon_incubation"></span>
                                        <span class="link_text">{{ nest.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
