<div class="menu_wrap">
        <div class="top_nav">
            <a class="menu_link" href="/creations">
                My Creations
            </a>
            <a class="menu_link">
                About
            </a>
        </div>
</div>
            <!--
                <img class="profile_pic" src='http://lorempixel.com/400/400/people/7/'></img>
            --!>
            
            <!--
            <div class="name">
                <h5 class='nick'>MAC</h2>
            </div>
            --!>
