<div class="primary_nav">
    <a 
        class="link icon-home2 {% if active == 'home' %}active{% endif %}" 
        href="{% url "home" %}">
    </a>
    <a 
        class="link {% if active == 'creative_method' %}active{% endif %}" 
        href="{% url "creative_method" %}">
        Creative Method
    </a>
    <a 
        class="link {% if active == 'idea_list' %}active{% endif %}" 
        href="{% url "idea_list" stage='everything' %}">
        Ideas & Creations
    </a>
    <a 
        class="link {% if active == 'contact' %}active{% endif %}"
        href="{% url "contact" %}">
        Contact
    </a>
</div>
