/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size:18px;
    line-height:1.4;
    font-family:"Source Sans Pro", sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Typography
   ----------

   Uses the fucntion (5/8)(x-7)^2 + 18, where x=header size number, 18 is the base height
   Exception: 16 is used for the "small" css class

   ======   =========   ======   =======
   Header   CSS Class   Pixels   ems
   ======   =========   ======   =======
   h1       trenta      40.5    
   ------   ---------   ------   -------
   h2       venti       33.625    
   ------   ---------   ------   -------
   h3       grande      28   
   ------   ---------   ------   -------
   h4       tall        23.625      
   ------   ---------   ------   -------
   h5       short       20.5
   ------   ---------   ------   -------
   h6       shorter     18.625 
   ------   ---------   ------   -------
   n/a      base        18 
   ------   ---------   ------   ------- 
   n/a      small       16
   ======   =========   ======   =======
*/

h1, .trenta {font-size:40.5px;}
h2, .venti {font-size:33.625px;}
h3, .grande {font-size:28px;}
h4, .tall {font-size:23.625px;}
h5, .short {font-size:20.5px;}
h6, .shorter {font-size:18.625px;}
.base {font-size:18px;}
small, .small {font-size:16px;}

h1, h2, h3, h4, h5, h6 {
    font-family:"Dosis", sans-serif;
    font-weight:400;
}

/*
  CSS Grid
  --------
*/
.container {
    width:100%;
    padding: 2.5% 0;
}

.container-header {
    text-align: center;
}

.row {
    width:100%;
}

.col {
    float:left;
    padding: 2.5%;
}


.span_1_of_2 { width:50%; }
.span_2_of_2 { width:100%; }

.span_1_of_3 { width:33.33333%; }
.span_2_of_3 { width:66.66666%; }
.span_3_of_3 { width:100%; }

.span_1_of_5 { width:20%; }
.span_2_of_5 { width:40%; }
.span_3_of_5 { width:60%; }
.span_4_of_5 { width:80%; }
.span_5_of_5 { width:100%; }

.span_1_of_8 { width:12.5%; }
.span_2_of_8 { width:25%; }
.span_3_of_8 { width:37.5%; }
.span_4_of_8 { width:50%; }
.span_5_of_8 { width:62.5%; }
.span_6_of_8 { width:75%; }
.span_7_of_8 { width:87.5%; }
.span_8_of_8 { width:100%; }

/**************************************/
/*
   Nav Bar
   -------
*/


#main-header {
    text-align:center;
}

#main-nav {
    background-color:#252628;
}

#main-nav a {
    text-decoration: none;
    color:#f8f8f8; 
    font-family: 'Dosis',sans-serif;
    line-height: 1.1;
    text-align:center;
}

.menu-big, .menu-small {
    display: block;
}

/*
   Masthead
*/

#masthead {
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
/*     IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
