/* ==========================================================================
Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size:21px;
    line-height:1.4;
    font-family:"Signika", sans-serif;
    font-weight:300;
    color:#222222;
    text-rendering: optimizelegibility;
    background-color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Typography
   ----------
   ======   =========   ======   =======
   Header   CSS Class   Pixels   ems
   ======   =========   ======   =======
   h1       trenta      48    
   ------   ---------   ------   -------
   h2       venti       36 
   ------   ---------   ------   -------
   h3       grande      32
   ------   ---------   ------   -------
   h4       tall        28 
   ------   ---------   ------   -------
   h5       short       24
   ------   ---------   ------   -------
   h6       base        21 
   ------   ---------   ------   -------
   n/a      small       18
   ======   =========   ======   =======
*/

h1, .trenta {font-size:48px;}
h2, .venti {font-size:36px;}
h3, .grande {font-size:32px;}
h4, .tall {font-size:28px;}
h5, .short {font-size:24px;}
h6, .base {font-size:21px;}
small, .small {font-size:18px;}

h1, h2, h3, h4, h5, h6 {
    font-weight:400;
}

/******************************************************
  Layout
  ------
******************************************************/



.container {
    padding: 0 5%;
}

.row {
    width:100%;
}

[class*='col_'] {
    float: left;
    padding-left: 3%;
}

.row [class*='col_']:first-of-type {
    padding-left: 0;
}

.col_1_2 { width:50%; }
.col_2_2 { width:100%; }

.col_1_3 { width:33.33333%; }
.col_2_3 { width:66.66666%; }
.col_3_3 { width:100%; }

.col_1_5 { width:20%; }
.col_2_5 { width:40%; }
.col_3_5 { width:60%; }
.col_4_5 { width:80%; }
.col_5_5 { width:100%; }

.col_1_8 { width:12.5%; }
.col_2_8 { width:25%; }
.col_3_8 { width:37.5%; }
.col_4_8 { width:50%; }
.col_5_8 { width:62.5%; }
.col_6_8 { width:75%; }
.col_7_8 { width:87.5%; }
.col_8_8 { width:100%; }


.l_max_text_width {
    margin: 0 auto;
    max-width: 34em;
}

.content {
    background-color:#FCFCFC;
}
    
/**************************************
    Modules
    -------
**************************************/

/*
   Nav Bar
   -------
*/


#main-header {
    text-align:center;
}

#main-nav {
    border-bottom:1px solid #DBDBDB;
    background: #FFFFFF;
}


.menu_item {
    transition: color 1s linear;
    -moz-transition: color 1s linear;
    -webkit-transition: color 1s linear;
    -o-transition: color 1s linear;
    color: #777;
    font-weight: 300;
    margin: 1em 0 1em 2em;
    display: inline-block;
}

.menu_item:hover {
    transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    color:#2D2D30;
}

.menu_item:first-child{
    margin-left:0;
}

/*
   Masthead
*/

#masthead {
}

#main-nav a.active {
    font-weight: 400;
    color: #222;
}

/* 
   Post
*/
.post_header {
    text-align: center;
}

.post_title {
    margin:0;
}

.pub_date {
    display:block;
    font-size:18px;
    text-transform: uppercase;
}

.post_tag_list {
    text-align: center;
}
.post_tag {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding:0 .5em;
    color: #fff;
    background-color: #555;
    display: inline-block;
    vertical-align: top;
}

.post_content {
    padding-top: 1em;
}

.post {
    padding-bottom: 3em;
}

.content .post:first-of-type {
    padding-top: 3em;
}

/* 
   Footer
   ------
*/

.main_footer {
    color: #fcfcfc;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
/*     IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
