/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import 'normalize.css';
@import 'hello.css';

html,
button,
input,
select,
textarea {
    color: #333;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    line-height: 1.77778;
    font-weight: 300;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* FONTS *???????/
 */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 { font-size: 36px; line-height: 1.25; margin: 1em 0;}
h2 { font-size: 32px; line-height: 1.33333; margin: 1em 0;}
h3 { font-size: 28px; line-height: 1.41421; margin: 1em 0;}
h4 { font-size: 24px; line-height: 1.5; margin: 1em 0;}
h5 { font-size: 21px; line-height: 1.6; margin: 1em 0;}
h6 { font-size: 18px; line-height: 1.66667; margin: 1em 0;}

a {
    text-decoration: none;
}

/* COLORS */

/* .367 .733 */

.white { background: #fff; }
.near_white { background: #f8f8f8 }
.grey { background: #eee;}
.dark_grey { background: #888; }
.darker_grey { background: #666; }

.dark { background: #333; }
.near_black { background: #222; }
.black { background: #111;}


.everything_lighter { background: #C6E6E4; }
.incubation_lighter { background: #C5E0F3; }
.analyzation_lighter { background: #D8D9EF; }
.experimentation_lighter { background: #F3C9DE; }
.implementation_lighter { background: #F6C8C8; }
.documentation_lighter { background: #F1CFC1; }

.everything_light { background: #79C4BE; }
.incubation_light { background: #76B6E3; }
.analyzation_light { background: #A2A5DA; }
.experimentation_light { background: #E380B0; }
.implementation_light { background: #E97E7C; }
.documentation_light { background: #DE8D6C; }

.everything { background: #2AA198; }
.incubation { background: #268BD2; }
.analyzation { background: #6C71C4; }
.experimentation { background: #D33682; }
.implementation { background: #DC322F; }
.documentation { background: #CB4B16; }

.everything_dark { background: #1B6660; }
.incubation_dark { background: #185885; }
.analyzation_dark { background: #44477C; }
.experimentation_dark { background: #852252; }
.implementation_dark { background: #8B201E; }
.documentation_dark { background: #802F0E; }

.everything_darker { background: #0B2B29; }
.incubation_darker { background: #0A2538; }
.analyzation_darker { background: #1D1E34; }
.experimentation_darker { background: #380E23; }
.implementation_darker { background: #3B0D0D; }
.documentation_darker { background: #361406; }

.everything_co { color: #2AA198; }
.incubation_co { color: #268BD2; }
.analyzation_co { color: #6C71C4; }
.experimentation_co { color: #D33682; }
.implementation_co { color: #DC322F; }
.documentation_co { color: #CB4B16; }


.action_button {
    float: left;
    padding: 0 18px;
    font-size: 14px;
    font-weight: 400;
}

.page_wrap {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.menu_wrap {
    font-size: 16px;
    left: 0px;
    top: 0px;
    width: 280px;
    bottom: 0px;
    position: absolute;
    overflow-y: auto;
    background: #19191C;
    box-shadow: inset -5px 0px 2px -2px #111;
}

.intro {
}

.profile_pic {
    width: 100px;
    height: 100px;
    display: block;
    margin: 18px auto;
    border-radius: 50%;
}

.name {
    text-align: center;
    color: rgba(100%, 100%, 100%, .7);
    margin: 0px;
    font-size: 28px;
    line-height: 47px;
}

.menu_nav {
    padding: 2px 0px;
}

.first_tier, .second_tier {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


.menu_item {
    display: block; 
    width: 100%;
    color: #fefefe;
    line-height: 2.333;
}

.first_tier > .menu_item {
}

.menu_link {
    width: 100%;
    display: block;
    color: #fefefe;
    font-size: 18px;
    padding: 0px 9px;
    font-weight: 300;
}

.first_tier {
}

.second_tier .menu_link {
    padding-left: 32px;
    font-size: 14px;
    line-height: 40px;
}

.glyph {
    display: block;
    float: left;
    text-align: left;
    margin-right: 10px;

}

.link_text{
    text-transform: capitalize;
    display: block;
    float: left;
}

.active {
    background: #efefef;
    color: #333; 
}

.second_tier .active {
    color: blue;
    background: none;
}

.content_wrap {
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 280px;
    position: absolute;
    z-index: 90;
    overflow: hidden;
}

.content_header {
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 2px 1px #555;
    height: 45px;
    line-height: 45px;
    z-index: 20;
}

.action_left {
    float: left;
}

.action_center {
    position: absolute;
    left: 50%;
}

.action_center_inner {
    position: relative;
    left: -50%;
}

.action_right {
    float: right;
}

.content {
    overflow: auto;
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 100%;
    padding: 18px;
}

.post_list {
    text-align: center;
    font-size: 0px;
}

.post_wrap {
    display: inline-block;
    color: #333;
    width: 280px; 
    height: 420px;
    margin: 18px; 
    box-shadow: 0px 1px 2px 1px #aaa;
    overflow: hidden;
    color: #333;
    padding: 18px;
    background: #fff;
}

.post {
    text-align: left;
    height: 100%;
}

.post_stage {
    line-height: 44px; 
}

.post .date {
    font-size: 13px;
    font-weight: 400;
}

.post_title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}

.featured_image {
    width: 100%;
    margin-bottom: 8px;
}

.post_detail {
    padding: 18px;
    background: #fff;
    font-size: 18px;
    min-height: 100%;
}

.post_detail_content {
    max-width: 700px;
    margin: 0 auto;
}



/* ==========================================================================
Helper classes
========================================================================== */

/*
* Image replacement
*/

.ir {
background-color: transparent;
border: 0;
overflow: hidden;
/* IE 6/7 fallback */
*text-indent: -9999px;
}

.ir:before {
content: "";
display: block;
width: 0;
height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
display: none !important;
visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
*zoom: 1;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
Theses examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 500px) {
/* Style adjustments for viewports that meet the condition */
}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
* {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
}

a,
a:visited {
    text-decoration: underline;
}

a[href]:after {
    content: " (" attr(href) ")";
}

abbr[title]:after {
    content: " (" attr(title) ")";
}

/*
    * Don't show links for images, or javascript/internal links
    */

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group; /* h5bp.com/t */
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}
}
