/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #333;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    line-height: 1.77778;
    font-weight: 300;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 { font-size: 36px; line-height: 1.25; margin: 1em 0;}
h2 { font-size: 32px; line-height: 1.33333; margin: 1em 0;}
h3 { font-size: 28px; line-height: 1.41421; margin: 1em 0;}
h4 { font-size: 24px; line-height: 1.5; margin: 1em 0;}
h5 { font-size: 21px; line-height: 1.6; margin: 1em 0;}
h6 { font-size: 18px; line-height: 1.66667; margin: 1em 0;}

a {
    text-decoration: none;
}

.active {
}


.page_wrap {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.nav_header {
    height: 54px;
    background: #222222;
}

.name {
    margin: 0;
    padding-left: 18px;
    font-size: 24px;
    line-height: 54px;
    color: #fefefe;
}

.menu_wrap {
    font-size: 16px;
    left: 0px;
    top: 0px;
    width: 18%;
    bottom: 0px;
    position: absolute;
    background: #484C55;
    border-right: 1px solid #222;
}

.menu {
    font-size: 14px;
}

.menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu_item {
    display: table; 
    width: 100%;
    height: 45px;
    color: #fefefe;
    padding-left: 14px;
    line-height: 44px;
    border-bottom: 1px solid #222;
}

.first_tier {
    background: #484C55;
    font-weight: 600;
}

.second_tier .menu_item {
    background: #393738;
    font-weight: 400;
    padding-left: 32px;
}

.glyph {
    display: block;
    float: left;
    text-align: left;
    margin-right: 10px;

}

.link_text{
    text-transform: capitalize;
    display: block;
    float: left;
}

.idea_list_o_wrap {
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 18%;
    position: absolute;
    z-index: 90;
}

.content_heading {
    color: #fefefe;
    background: #3691AF;
    height: 54px;
}

.action_button_wrap {
    float: right;
}

.action_button {
    float: left;
    padding: 0 18px;
    border-left: 1px solid #3691AF;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    border-left: 1px solid #2E7489;
}

.idea_list {
    overflow: auto;
    position: absolute;
    top: 54px;
    bottom: 0px;
    width: 100%;
    padding: 18px 0;
    background: #efefef; 
}

.idea_wrap {
    display: block;
    float: left;
    padding: 18px;
    color: #333;
    width: 33.33333%;
    height: 400px;
}

.idea_wrap:first-of-type {
}

.idea {
    height: 100%;
    background: #fff;
}

.idea_header {
    height: 45px;
    color: #fefefe;
    background: #22B542;
    padding: 0 9px;
}

.idea_content {
    padding: 18px;
}

.idea_stage {
    line-height: 44px; 
}

.idea .date {
    font-size: 13px;
    font-weight: 400;
}

.idea_title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}

.featured_image {
    width: 100%;
    margin-bottom: 8px;
}

.detail_o_wrap {
    overflow: auto;
    position: absolute;
    left: 40%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #2E8094; 
}

.idea_detail_wrap {
    z-index:80;
    position: absolute;
    top: 0px;
    bottom: 18px;
    right: 0px;
    left: 0px;
}

.idea_detail {
    padding: 18px;
    background: #fff;
    font-size: 18px;
    min-height: 100%;
}

.idea_detail_content {
    max-width: 700px;
    margin: 0 auto;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon_experimentation:before, .icon_incubation:before,
.icon_documentation:before, .icon_implementation:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon_experimentation:before {
        content: "\66";
}

.icon_incubation:before {
    content: "\6c";
}

.icon_documentation:before {
    content: "\64";
}

.icon_implementation:before {
    content:"\72";
}


/* ==========================================================================
Helper classes
========================================================================== */

/*
* Image replacement
*/

.ir {
background-color: transparent;
border: 0;
overflow: hidden;
/* IE 6/7 fallback */
*text-indent: -9999px;
}

.ir:before {
content: "";
display: block;
width: 0;
height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
display: none !important;
visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
*zoom: 1;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
Theses examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 500px) {
/* Style adjustments for viewports that meet the condition */
}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
* {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
}

a,
a:visited {
    text-decoration: underline;
}

a[href]:after {
    content: " (" attr(href) ")";
}

abbr[title]:after {
    content: " (" attr(title) ")";
}

/*
    * Don't show links for images, or javascript/internal links
    */

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group; /* h5bp.com/t */
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}
}
