<nav id="main-nav" class="clearfix centered">
    <a id="" class="menu_item {% if active_tab == 'home' %}active{% endif %}" href="{% url home_view %}">Welcome</a>
    <a id="" class="menu_item {% if active_tab == 'tutorials' %}active{% endif %}" href="{% url tutorial_list %}">Tutorials</a>
    <a id="" class="menu_item {% if active_tab == 'portfolio' %}active{% endif %}" href="{% url home_view %}">Portfolio</a>
    <a id="" class="menu_item {% if active_tab == 'blog' %}active{% endif %}"href="{% url post_list %}">Weblog</a>
</nav>

