<nav id="main-nav" class="clearfix">
    <a id="" class="{% if active_tab == 'home' %}active{% endif %} span_1_of_5" href="{% url home_view %}">
        <span class="menu-big grande">Welcome</span>
    </a>
    <a id="" class="{% if active_tab == 'tutorials' %}active{% endif %} span_1_of_5" href="{% url tutorial_list %}">
        <span class="menu-big grande">Tutorials</span>
    </a>
    <a id="" class="{% if active_tab == 'portfolio' %}active{% endif %} span_1_of_5" href="{% url home_view %}">
        <span class="menu-big grande">Portfolio</span>
    </a>
    <a id="" class="{% if active_tab == 'blog' %}active{% endif %} span_1_of_5" href="{% url post_list %}">
        <span class="menu-big grande">Weblog</span>
    </a>
    <a id="" class="{% if active_tab == 'contact' %}active{% endif %} span_1_of_5" href="{% url home_view %}">
        <span class="menu-big grande">Contact</span>
    </a>
</nav>
