{% extends "base.html" %}

{% block main_nav %}
    {% include "includes/main_nav.html" with active_tab="blog" %} 
{% endblock %}

{% block main %}
    <article class="l_max_text_width clearfix">
        {% if post %}
            <div class="post">
                {% include "includes/post_header.html" %}
                <section class="post_content">
                    {{ post.content }}
                </section>
            </div>
        {% elif post_list %}
            {% for post in post_list %}
                <div class="post">
                    {% include "includes/post_header.html" %}
                    <div class="post_content">
                        {{ post.content|truncatewords_html:50 }}
                        <a href="{% url post_detail post.pk post.slug %}" class="read_more">Read More</a>
                    </div>
                </div>
                
            {% endfor %}
            <div class="pagination clearfix">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="previous_page">Previous Page</a> 
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="next_page">Next Page</a>
                {% endif %}
            </div>
        {% else %}
            <p>I apparently havn't written anything blog posts yet. Don't worry, I'll get to it soon! =]</p>
        {% endif %}
    </article>
{% endblock %}
