{% extends "base.html" %}

{% block main_nav %}
    {% include "includes/main_nav.html" with active_tab="blog" %} 
{% endblock %}

{% block main %}

{% if post_list %}
    {% for post in post_list %}
    <div class="post">
    <div class="post_header">
        <a href="{% url post_detail post.pk post.slug %}" class="post_title">
            {{ post.title }}
        </a>
        <span class="pub_date">{{ post.pub_date }}</span>
    </div>
</div>
    {% endfor %}
{% else %}
    <p>I apparently havn't written anything blog posts yet. Don't worry, I'll get to it soon! =]</p>
{% endif %}

{% endblock %}
