{% extends "base.html" %}

{% block main_nav %}
    {% include "includes/main_nav.html" with active_tab="blog" %} 
{% endblock %}

{% block main %}
<article class="l_max_text_width clearfix post">
    <header class="post_header">
        <h2 class="post_title">{{ post.title }}</h2>
        <span class="pub_date">{{ post.pub_date }}</span>
        <div class="post_tag_list">
            {% for tag in post.tag.all %}
                <a href="" class="post_tag">{{ tag }}</a>
            {% endfor %}
        </div>
    </header>
    {{ object.content }}
</article>
{% endblock %}
